 {%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="box_login ">

        <div class="sign_up ">
            <h4 class="hhh ">login </h4>
        </div>
        {% for m in messages%}
        <h3 style="color: red; ">{{m}}</h3>{% endfor%}
        <form method="POST" action="{% url 'User_page' %} " class="login_div ">
            {% csrf_token %}
            <div class=" log ">
                <div class="email_pass ">
                    <div class="class ">
                        <input type="text" placeholder="User name " name="username" required>
                        <i class="fa-solid fa-user "></i>
                    </div>
                    <div class="class ">
                        <input type="email" placeholder="Email " name="email" required>
                        <i class="fa-solid fa-envelope "></i>
                    </div>

                    <div class="class ">
                        <input type="password" placeholder="Password " name="password" required>

                    </div>

                </div>
                <button type="submit " class="login "> login </button>
                <a href="# ">
                    <p>Forgotten password?</p>
                </a>
            </div>
            <div class="donot ">
                <p>don't have an any account <a href="{% url 'signup_page' %} ">sing up?</a></p>
            </div>
            <p class="log_with ">or login with</p>
            <div class="login_icon ">
                <a href="#"><i class="fa-brands fa-google "></i></a>
                <a href="#"><i class="fa-brands fa-facebook "></i></a>
                <a href="#"><i class="fa-brands fa-instagram "></i></a>

            </div>

        </form>
    </div>

    <script src="{% static 'js/main.js' %} "></script>
</body>
<style>
    body {
        background-image: url(" {% static 'img/hh.jpg' %} ");
    }
    
    a {
        text-decoration: none;
        color: aliceblue;
    }
    
    .class input {
        background-color: rgb(180, 156, 119);
    }
</style>

</html>