<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/callin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>call_video</title>
</head>

<body>

    <div class="call_in">
        <div class="img_in_call">
            <img src="black-wolf-16.jpg" alt="image">
            <h4 class="name_callin">name of </h4>
            <p class="calling">calling....</p>
        </div>
        <h1>call video here</h1>
        <div class="list_menu">

            <a href="#"><i class="fa-solid fa-volume-high"></i></a>
            <a href="#"><i class="fa-solid fa-video"></i></a>
            <a href="#"><i class="fa-solid fa-microphone-slash"></i></a>
            <a href="#" class="ca"><i class="fa-solid fa-phone"></i></a>
            <i class="fa-solid fa-rotate"></i>
        </div>
    </div>



</body>

</html>