{%extends 'base.html' %} {%load static%}{% block project%}

<div class="song">
    <div class="posit">
        <a href="{% url 'group_page' %}"><i class="fa-solid fa-arrow-left"></i></i>
        </a>
        <p>Radios</p>
    </div>
    <div class="song_list">
        <div class="song_icon a">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon a">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon a">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon a">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon a">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon a">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon a">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>
        <div class="song_icon">
            <div class="h_song">
                <i class="fa-solid fa-music"></i>
                <p>hello baby.mp4dfddfdfd</p>
            </div>
            <div class="secon_song">
                <p>04:05</p>
                <i class="fa-solid fa-play" id="play"></i>
            </div>
        </div>

    </div>


</div>


{% endblock%}